
.navbar {
  width: 100vw;
  display: flex;
  display: -ms-flexbox;
}

.eliminate_space {
  flex: 1 1 auto;
}

.options {
  margin-left: 10px;
}

.options a {
  padding: 0 10px;
}

.login-button {
  transform: rotate(180deg);
  text-transform: none;
  margin-right: 20px;
}
