<mat-toolbar class="navbar" color="primary">

  <h1>Cinema Admin</h1>

<!--  TODO add when login will be finished [hidden]="!isUserLogged"-->
  <div class="options" >
    <a mat-button [routerLink]="'/cinemas'"> Cinemas </a>
    <a mat-button [routerLink]="'/movies'"> Movies </a>
    <a mat-button [routerLink]="'/played-movies'"> Played Movies </a>
    <a mat-button [routerLink]="'/users'"> Users </a>
    <a mat-button [routerLink]="'/bookings'"> Bookings </a>
  </div>

  <span class="eliminate_space"></span>

  <button  mat-icon-button routerLink="/login">
    <mat-icon class="login-button">exit_to_app</mat-icon>
  </button>

</mat-toolbar>
