<mat-card class="login-card">
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
      <h2>Log In</h2>
      <div class="form">
        <mat-form-field  >
          <input matInput [(ngModel)]="login" type="text" placeholder="Email" formControlName="login">

        </mat-form-field>
        <mat-form-field >
          <input matInput [(ngModel)]="password" type="password" placeholder="Password" formControlName="password">

        </mat-form-field>
      </div>
      <button [disabled]="!loginForm.valid" mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
</mat-card>
